<style>

:root {
    --button-color: #163372;
  }

/* Overall website */
       * {
           margin: 0;
           padding: 0;
           border: 0;
       }

/* Start of Header Bar */
       .bar {
           width: 100%;
           float: none;
           background: linear-gradient(180deg, rgba(255, 255, 255, 0.988), rgba(255, 255, 255, 0.5) 100%);
           overflow: hidden;
            position: fixed;
            box-sizing: border-box;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
         text-transform: uppercase;
         letter-spacing: 0.1em;
         line-height: 150%;
         font-weight: bold;
       }
       .bar a {
           float: left;
           color: black;
           text-align: center;
           padding: 14px 16px;
           text-decoration: none; 
           letter-spacing: 2px;
           font-family: 'Playfair Display', sans-serif;
           font-size: 17px;
           font-weight: 200px;
       }

       .dropbtn {
        background-color: white;
        color: black;
        padding: 16px;
        font-size: 15px;
        border: none;
        cursor: pointer;
        float: right;
        position: fixed;
        box-sizing: border-box;
        right: 0px;
        top: 0px;
        }
      
      .dropdown-content {
        float: right;
        position: fixed;
        box-sizing: border-box;
        right: 0px;
        top: 52px;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        display: block;
        visibility: hidden;
      }
      
      .dropdown-content a {
        color: rgba(23, 23, 23, 0.614);
        padding: 12px 14px;
        text-decoration: none;
        font-family: 'Playfair Display', sans-serif;
        display: block;
        text-align: center;
        text-transform: uppercase;
         letter-spacing: 0.1em;
         line-height: 150%;
         font-weight: bold;
         
      }

      .dropdown .dropbtn:hover {
        background-color: #21304f;
        color: white;
        transition: all 0.5s;
       }

       .dropdown:hover .dropdown-content {
        visibility: visible;
        animation: fade 0.7s;
      }
      
      .dropdown-content a:hover {
        background-color: #dbdbdbda;
        transition: all 0.7s;
    } 
    
    @keyframes fade {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
/* End of Header Bar */    

/* This adjusts the background and overall alignment of components */
       .bg {
           width: 100%;
           height: 100%;
           background: linear-gradient(45deg, rgb(162, 174, 210), #edf5ff);
       }

/* This adjusts the calendar */

       #calendar {
        width: 80%;
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%,-50%);
       }

       button.btn-action {
        position: relative;
        z-index: 2; 
        top: -100px;
        right: -1020px;
        height: 25px;
        width: 150px;
        color: #755eb5;
        font-family: 'Titillium Web', sans-serif;
        border: none;
        background-color: white;
        border-radius: 8px;
        font-size: 15px;
        cursor: pointer;
        -webkit-box-shadow: 0 10px 20px -5px rgba(145, 150, 160, 0.65);
        box-shadow: 0 10px 20px -5px rgba(148, 153, 161, 0.65);
        display: inline;
        letter-spacing: .5px;
        align-items: center;
       }

       button.btn-action:hover {
        background-color: #454b7e;
        color: white;
        transition: all 0.5s ease;
       }

       button.btn-action:disabled {
        background-color: #e4e4e4;
        border-color: #e4e4e4;
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9);
        cursor: not-allowed;
        }

        button.btn-action.active {
            background-color: #9886c7;
            color: #fff;
        }

 </style>
