 <style>
/* Overall website */
       * {
           margin: 0;
           padding: 0;
       }

/* This adjusts the background and overall alignment of components */
       body {
           height: 100vh;
           display: grid;
           justify-content: center;
           align-items: center;
           background: #d3eaf2;
       }

/* This adjusts the date and the time overall */
       .wrapper {
           text-align: center;
           justify-content: center;
           align-items: center;
           font-family: "Segoe UI", sans-serif;
       }

/* This adjusts the date specifically */
       #date {
         font-size: 50px;
         font-weight: 300;
         letter-spacing: 3px;
       }

/* This adjusts the clock spcifically */
       #clock {
           font-size: 150px;
           font-weight: 200;
           width: 900px;
           margin: 10px;
           text-align: center;
           border: 2px solid black;
           border-radius: 20px;
           background: white;
       }

/* The alarm options */
       .column {
           display: inline;
           margin: 5px;
           font-size: 20px;
       }
 </style>
