<style>

:root {
    --button-color: #163372;
  }

/* Overall website */
       * {
           margin: 0;
           padding: 0;
           border: 0;
       }

/* Start of Header Bar */
       .bar {
           width: 100%;
           float: none;
           background: transparent;
           overflow: hidden;
           position: fixed;
           box-sizing: border-box;
           top: 0;
           left: 0;
           right: 0;
           margin: auto;
           text-transform: uppercase;
            letter-spacing: 0.1em;
            line-height: 150%;
            font-weight: bold;
       }

    /* Website Name */
       .bar a {
           float: left;
           color: black;
           text-align: center;
           padding: 14px 16px;
           text-decoration: none; 
           letter-spacing: 2px;
           font-family: 'Roboto', sans-serif;
           font-size: 17px;
           font-weight: 600;
           cursor: default;
       }

    /* Dropdown Button */
       .dropbtn {
           background-color: transparent;
           border: 1px solid white;
           border-radius: 5px;
           margin: 4px;
           margin-bottom: 0px;
           color: white;
           padding: 5px 14px 14px;
           font-size: 22px;
           border: none;
           cursor: pointer;
           float: right;
           position: fixed;
           box-sizing: border-box;
           right: 0px;
           top: 0px;
        }

   /* Dropdown Content */
      .dropdown-content {
           float: right;
           position: fixed;
           right: 0px;
           top: 52px;
           background-color: white;
           min-width: 160px;
           box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
           z-index: 1;
           display: block;
           visibility: hidden;
           border: 1px solid white;
           border-radius: 6px;
           margin: 6px;
           margin-top: 0px;
           margin-right: 10px;
      }
      .dropdown-content a {
           color: black;
           padding: 12px 14px;
           text-decoration: none;
           display: block;
           text-align: center;
           font-family: 'Montserrat', sans-serif;
            letter-spacing: 0.1em;
            line-height: 150%;
            font-size: 15px;
            font-weight: 400;
      }

   /* Hover Options */
      .dropdown .dropbtn:hover {
           background-color: transparent;
           color: white;
           transition: all 0.5s;
       }
       .dropdown:hover .dropdown-content {
           visibility: visible;
           animation: fade 0.7s;
      }
      .dropdown-content a:hover {
           background-color: #dbdbdbda;
           transition: all 0.7s;
    } 
     @keyframes fade {
         0% {
            opacity: 0;
         }
    
         100% {
           opacity: 1;
        }
      }
/* End of Header Bar */    

/* This adjusts the background and overall alignment of components */
       body {
           margin-top: 125px;
           height: 100vh;
           justify-content: center;
           align-items: center;
           background: linear-gradient(45deg, white, #273062); 
           overflow: hidden;
       }

/* This adjusts the date and the time overall */
       .wrapper {
           text-align: center;
           justify-content: center;
           align-items: center;
           padding: 0 250px;
           display: flex;
           flex-direction: column;
       }

/* This adjusts the date specifically */
       #date {
         font-size: 50px;
         font-weight: 300;
         letter-spacing: 3px;
         font-family: 'Karla', sans-serif;
         font-style: italic;
         display: inline;
       }

/* This adjusts the clock spcifically */
       #clock {
           font-size: 130px;
           font-weight: 200;
           font-family: 'Karla', sans-serif;
           padding-left: 50px;
           padding-right: 50px;
           padding-top: 5px;
           padding-bottom: 5px;
           width: 800px;
           margin: 25px;
           text-align: center;
           display: inline;
           background: rgba( 255, 255, 255, 0.37 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 6px );
            -webkit-backdrop-filter: blur( 6px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
       }

/* Start alarm set time */
       .column {
           display: inline;
           margin: 5px;
       }
       .wrapper .content {
           width: 100%;
           display: inline;
           justify-content: space-between;
           padding: 20px 0 4px;
       }
       .content .column {
           border-radius: 8px;
           padding: 8px 3px 8px;
           width: calc(100% / 3 - 5px);
           height: 40px;
       }
       .column select {
           outline: none;
           border: none;
           border-radius: 8px;
           height: 40px;
           width: 100px;
           font-size: 13px;
           font-family: 'Montserrat', sans-serif;
           font-style: bold;
           cursor: pointer;
           padding: 10px 10px 10px;
       }
/* End alarm set time */

/* This adjusts the buttons for setting and clearing alarm */
       .wrapper button {
           width: 197px;
           outline: none;
           border: none;
           cursor: pointer;
           color: white;
           margin-top: 15px;
           font-size: 15px;
           font-family: 'Montserrat', sans-serif;
           letter-spacing: 1px;
           padding: 17px 0;
           border-radius: 8px;
           background: black;
           display: inline;
       }
       .wrapper button:hover {
           background-color: #273062;
           color: white;
           transition: 0.5s;
       } 
 </style>
