 <style>
/* Overall website */
       * {
           margin: 0;
           padding: 0;
           border: 0;
       }

/* Start of Menu Bar */
       .bar {
           width: 100%;
           float: none;
           background-color: white; 
           overflow: hidden;
           position: fixed;
           top: 0;
           font-family: 'Titillium Web', sans-serif;
       }
       .bar a {
           float: left;
           color: black;
           text-align: center;
           padding: 14px 16px;
           text-decoration: none; 
           letter-spacing: 2px;
           font-family: 'Titillium Web', sans-serif;
           font-size: 17px;
           font-weight: 200px;
       }
       .bar a.split:hover {
           background-color: #165a72;
           color: white;
       }
       .bar a.split {
           float: right;
           background-color: white;
           color: black;
       }
/* End of Menu Bar */    

/* This adjusts the background and overall alignment of components */
       body {
           margin-top: 100px;
           height: 100vh;
           justify-content: center;
           align-items: center;
           background: #d3eaf2;
       }

/* This adjusts the date and the time overall */
       .wrapper {
           text-align: center;
           justify-content: center;
           align-items: center;
           font-family: 'Titillium Web', sans-serif;
           padding: 0 250px;
       }

/* This adjusts the date specifically */
       #date {
         font-size: 50px;
         font-weight: 300;
         letter-spacing: 3px;
         font-family: 'Titillium Web', sans-serif;
         font-style: italic;
       }

/* This adjusts the clock spcifically */
       #clock {
           font-size: 150px;
           font-weight: 200;
           font-family: 'Titillium Web', sans-serif;
           width: 900px;
           margin: 10px;
           text-align: center;
           border: 2px solid black;
           border-radius: 20px;
           background: white;
       }

/* Start alarm options */
       .column {
           display: inline;
           margin: 5px;
       }
       .wrapper .content {
           width: 100%
           justify-content: space-between;
           padding: 20px 0 4px;
       }
       .content .column {
           border-radius: 8px;
           padding: 10px 5px 10px;
           border: 1px solid white;
           width: calc(100% / 3 - 5px);
           height: 53px;
           background-color: white;
       }
       .column select {
           outline: none;
           border: none;
           border-radius: 8px;
           height: 40px;
           width: 90px;
           font-size: 13px;
           font-family: 'Titillium Web', sans-serif;
           font-style: bold;
           letter-spacing: 1px;
           cursor: pointer;
           padding: 10px 10px 10px;
       }
/* End alarm options */

/* This adjusts the buttons */
       .wrapper button {
           width: 197px;
           outline: none;
           border: none;
           cursor: pointer;
           color: white;
           margin-top: 15px;
           font-size: 15px;
           font-family: 'Titillium Web', sans-serif;
           letter-spacing: 1px;
           padding: 17px 0;
           border-radius: 8px;
           background: black;
           display: inline;
       }
       .wrapper button:hover {
           background-color: #165a72;
           color: white;
       } 
 </style>
